.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.6rem 1rem;
  text-align: left;
  background-color: #f04f4f;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    color: #f4f5f9;
    border-color: #f4f5f9;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
  }

  .IconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;

    .EditCard {
      width: 45px;
      height: auto;
      cursor: pointer;
    }

    .DeleteCard {
      width: 26px;
      height: auto;
      cursor: pointer;
    }

    .FavoriteIcon {
      width: 30px;
      height: auto;
      cursor: pointer;
    }
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #fff;
  }

  .content {
    color: #fff;
    line-height: 1.5rem;
  }
}
