.Search {
    margin: 1rem auto;
    width: 65%;
    height: 2.5rem;
    background-color: #CDF1EB;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
}


