@import "../../styles/break-points.scss";

.Vehicles {
  display: grid;
  padding: 1rem 2rem;

  .main {
    display: grid;
    gap: 1rem;
    width: 100%;
  }

  .filter {
    background-image: url("./../../assets/icon/filter.png");
    background-repeat: no-repeat;
    width: 75px;
    height: 54px;
    position: absolute;
    top: 25px;
    right: 100px;
    cursor: pointer;
  }

  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 1rem 3rem;
  }

  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
  }

  @include desktop-large {
  }
}
